:host {
  font-family: Ubuntu, sans-serif;
  font-size: 1.6em;
  background-color: #e7e8e8;
  display: block;
  height: 100%;
  min-height: 150vh;
}

p {
  text-align: center;
  font-weight: bold;
  padding-top: 200px;
  font-size: 2em;
}
