#footer {
  display: flex;
  align-items: baseline;
  padding: 0 20px;
  background-color: #f7d9d6;
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  position: absolute;
}

span {
  text-transform: uppercase;
}

.cVmQYF {
  text-transform: uppercase;
  color: #e53e49;
  line-height: 70px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 0px;
  padding: 0px 6px;
}


